.news-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#nav-dropdown{
  color: white;
  font-weight: bold;
  /*background-color: red;*/
}

.divisor{
  text-align: center;
  color: #fff;
  font-weight: bolder;
  padding: 1%;
  background-color: #092240;
  border: #092240;
  border-radius: 25px;
  margin-bottom: 2.5%;
}

#nav-dropdown:hover{
  background-color: #fff;
  color: #092240;
}

.news-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer {
  background-color: #092240;
  color: white;
  padding: 20px 0 0 0;
  text-align: center;
}

.footer a {
  color: #5dabe9;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
